/* github kokeilu */
h1 {
  background-color: red;
  color: #fff;
}

li{
  display: inline-block;
  width: 250px; /*blockモデルの幅が２５０ｐｘ*/
  background-color: pink;
}

/* 親要素に*/
.container{
  border: 2px dotted red;
  display: flex; /*containerの中の子要素が横並びになる*/
  flex-direction: row; /* 初期値*/
  /*flex-direction: row-reverse; /* 逆並び*/
  /*flex-direction: column; /*要素が縦並び */
  /*flex-direction: column-reverse;/* 逆縦並び */
}

/* 子要素に */
.item{
  background-color: green;
  width: 100px;
  height: 100px;
  color: #fff; /*字が見えるように　白 */
  margin: 10px; /*各要素がくっつかないように */
  padding: 10px;
}

.container2{
  border: 2px solid blue;
  display: flex;
}

.box1{
  background-color: red;
  flex-grow: 1;
}

.box2{
  background-color: pink;
  flex-grow: 1;
}
.box3{
  background-color: green;
  flex-grow: 1;
}
.box4{
  background-color: violet;
  flex-grow: 1;
}

/* #03_4 子要素と/ 26.12.2021 */
.box1{
  width: 180px;
  height: 180px;
  background-color: red;
}
.box2{
  width: 180px;
  height: 180px;
  background-color: blue;
  /* kokeilu 2/ 親要素が(Box2)Relative*/
  position: relative;
}
.box3{
  width: 180px;
  height: 180px;
  background-color: yellow;
}
.box4{
  width: 180px;
  height: 180px;
  background-color: green;
}
/*box2の中に,box5が入っている */
.box5{
  width: 25px;
  height: 60px;
  background-color: aquamarine;
  /* kokeilu 1 "Absolute"  top & left*/
  /* 親要素(Box2)がstaticならば、ページ上から配置される*/
/*  position: absolute;
  top: 30px;
  left: 25px;*/


  /* kokeilu 3(アイコン) 親要素がRelative、子要素がAbsolute */
  position: absolute;
  top: -5px;
  right: -5px;
}

.sample{
  background-color: red;
  color: white;
}
