h1 {
  background-color: red;
  color: #fff;
}

li{
  display: inline-block;
  width: 250px; /*blockモデルの幅が２５０ｐｘ*/
  background-color: pink;
}

/* 親要素に*/
.container{
  border: 2px dotted red;
  display: flex; /*containerの中の子要素が横並びになる*/
  flex-direction: row; /* 初期値*/
  /*flex-direction: row-reverse; /* 逆並び*/
  /*flex-direction: column; /*要素が縦並び */
  /*flex-direction: column-reverse;/* 逆縦並び */
}

/* 子要素に */
.item{
  background-color: green;
  width: 100px;
  height: 100px;
  color: #fff; /*字が見えるように　白 */
  margin: 10px; /*各要素がくっつかないように */
  padding: 10px;
}

.container2{
  border: 2px solid blue;
  display: flex;
}

.box1{
  background-color: red;
  flex-grow: 1;
}

.box2{
  background-color: pink;
  flex-grow: 1;
}
.box3{
  background-color: green;
  flex-grow: 1;
}
.box4{
  background-color: violet;
  flex-grow: 1;
}
